<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
        <param-value>true</param-value>
    </context-param>

    
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>com.orco.graneles.jsf.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
 
    <filter>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <filter-class>
            org.primefaces.webapp.filter.FileUploadFilter
        </filter-class>
    </filter>
 
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>
    
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
    
    <!--Configuraciones de Seguridad -->
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>granelesweb-realm</realm-name>
        <form-login-config>
            <form-login-page>/faces/login.xhtml</form-login-page>
            <form-error-page>/faces/loginError.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    <!-- Roles -->
    <security-role>
        <role-name>USUARIO</role-name>
    </security-role>
    <security-role>
        <role-name>GERENTE</role-name>
    </security-role>
    <security-role>
        <role-name>ADMINISTRADOR</role-name>
    </security-role>

    <!--Constraints de Segridad-->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Resources</web-resource-name>
            <url-pattern>/faces/resources/css/*</url-pattern>
            <url-pattern>/faces/resources/images/*</url-pattern>
        </web-resource-collection>
    </security-constraint>

    <!-- El constraint de seguridad solo se va a aplicar a los usuarios logueados, cada detalle se aplica pagina x pagina -->    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Ingreso</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>USUARIO</role-name>
        </auth-constraint>
    </security-constraint>
    
    <!--Fin Configuracion de Seguridad-->
    
    
</web-app>
